.cuerpo{
    background: #a800eb;
    background: linear-gradient(to right, #c71485, #6b6bff);
    font-family: "Anybody", sans-serif;
}

.titulo{
    padding-top: 20px;
    text-align: center;
    font-size: 80px;
    color: rgb(243, 234, 234);
}

.bloque{
    text-align: center;
}

#pie{
    font-style: italic;
    margin:8px;
}

footer{
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 7px;
}

p{
    padding-left: 15px;
    color: aliceblue;
    font-size: 30px;
}

.bloqueLanzamiento{
    color: white;
    font-size: 30px;
}

main{
    margin: 30px;
    display: grid;
    margin-inline-start: 100px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,25rem), 1fr));
    gap: 1rem;
}

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

article{
    width: 75%;
    padding: 10px;
    box-shadow: 0px 0px 1px #000 ;
    background: rgba(211, 159, 211, 0.822);
    border-radius: 10px;
}

span{
    font-weight: bold;
}