body{

    background: linear-gradient(to bottom, #c71485, #6b6bff);
    font-family: "Anybody", sans-serif;
    
}

footer{
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 7px;
    display: block;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}